<html>
<p>Simple NodeJS Web Application</p>
<p>Visit any one of the following links:</p>
<p><a href='http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/posts'>
http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/posts</a></p>
<p><a href='http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme'>
http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme</a></p>
<p><a href='http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=description'>
http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=description</a></p>
<p><a href='http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=tech'>
http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=tech</a></p>
<p><a href='http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=techstack'>
http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=techstack</a></p>
<p><a href='http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=hobbies'>
http://ec2-18-236-89-7.us-west-2.compute.amazonaws.com:8080/aboutme?q=hobbies</a></p>
</html
