<html>
<center><ol>
  <% for(var i=0 ; i < result.length; i++){ %>
    <li><div style='font-size: 16px;color:#3cb371'><%=result[i].title%>"</div><div style='font-size: 12px;color:#4A4A4A'><%=result[i].body%>"</div></li>
  <%}%>
</ol></center>
<html>
